@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'instructions.css';

.markdown-section h2 {
  margin-top: 60px;
}

.markdown-section a:link {
  color: #f0512f;
  font-weight: bold;
  text-decoration: underline;
}

.markdown-section a:hover {
  color: #ccc;
  font-weight: bold;
  text-decoration: underline;
}

.markdown-section a:visited {
  color: #f0512f;
  font-weight: bold;
  text-decoration: underline;
}

.markdown-section a:active {
  color: #f0512f;
  font-weight: bold;
  text-decoration: underline;
}

.info {

}
